body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;

  width: 100%;
  height: 300vh;
}
.header {
  width: 100%;
  background-image: url(fotos/backgrond.webp);
  background-size: cover;
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  align-items: baseline;

  height: 10vh;
  width: 100%;
  justify-content: space-between;
}
.navbar h1 {
  color: white;
  font-size: 30px;

  transition: font-size 2s ease;
}
.navbar span {
  color: #5918df;
  font-size: 30px;
}
.headerOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  width: 70%;
}
.headerOptions p {
  color: white;
  font-weight: bold;
}
.headerOptions a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: font-size 2s ease;
}
.headerOptions span {
  color: #5918df;
}
.topName h1:hover {
  font-size: 55px;
}
.headerOptions a:hover {
  font-size: 50px;
}

.topName {
  display: flex;
  align-items: center;
}
